GISCUS_ENABLED=true
GISCUS_REPO=qluana7/devlog
GISCUS_REPO_ID=R_kgDOR1RBKw
GISCUS_CATEGORY=Comment
GISCUS_CATEGORY_ID=DIC_kwDOR1RBK84C5qRC
GISCUS_MAPPING=pathname
GISCUS_STRICT=0
GISCUS_THEME=dark_dimmed
SITE_URL=

ENGAGEMENT_ENABLED=false
ENGAGEMENT_SUPABASE_URL=
ENGAGEMENT_SUPABASE_ANON_KEY=
